
/**
 * -------------------------
 * @section Margin Classes
 * -------------------------
 */

.margin-10 {
  margin: 10px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

.col-button-left {
  padding-left: 0;
  padding-right: 7px;
}
.col-button-right {
  padding-left: 7px;
  padding-right: 0;
}
