/**
 * -------------------------
 * @section Product Details Page
 * -------------------------
 */

div.product-details {
  margin: 0 0 20px 0;
}
div.product-details div.product-icon {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  border-radius: 10px;
  padding: 30px;
  font-size: 60px;
  line-height: 1em;
}

.product-status {
  margin: 0 0 20px 0;
  padding: 0;
  border-radius: 10px;
}
.product-status-pending {
  background-color: #F89406;
}
.product-status-active {
  background-color: #46A546;
}
.product-status-suspended {
  background-color: #0768B8;
}
.product-status-terminated,
.product-status-cancelled {
  background-color: #666;
}
.product-status-fraud {
  background-color: #000;
}
.product-status-text {
  padding: 5px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

div.product-details-tab-container {
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
}

.module-client-area {
  padding: 15px 15px 0 15px;
}

.ssl-inactive {
  cursor: pointer;
}
