/**
 * -------------------------
 * @section Sidebar Responsive Behaviour Classes
 * -------------------------
 */

div.sidebar .list-group-item-selected {
  background-color: #319FC3;
  color: #FFFFFF;
}
div.sidebar .list-group-item-selected .badge {
  background-color: #FFFFFF;
  color: #319FC3;
}

.sidebar:not(.sidebar-secondary) {
  margin-top: 10px;
}

.sidebar.sidebar-secondary {
  clear: left;
}

@media (max-width: 991px) {

  .panel-actions {
    border: 0;
    box-shadow: none;
  }

  .panel-actions > .panel-heading > .panel-title {
    display: inline;
  }

  .panel-actions > .panel-heading {
    border-radius: 3px;
  }

  .panel-actions > .list-group {
    padding: 10px;
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap;
  }

  .panel-actions > .list-group .list-group-item {
    display: inline-block;
    border: 1px solid #ddd !important;
    border-radius: 3px !important;
    white-space: nowrap;
    text-align: center;
    padding: 5px 25px;
    margin: 2px;
  }

  .panel-actions > .list-group .list-group-item > .badge {
    float: none;
    margin: -2px 0 0 10px;
  }

}
