/**
 * -------------------------
 * @section Status Lights
 * -------------------------
 */

.status {
  display: block;
  font-size: 0.9em;
  line-height: 22px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
}

.status-custom {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1px;
}

.status-pending {
  color: #D9534F;
}
.status-pending.transfer {
  color: #A68500;
}
.status-active,
.status-open,
.status-completed {
  color: #3fad46;
}
.status-suspended {
  color: #F0AD4E;
}
.status-customer-reply {
  color: #ff6600;
}
.status-fraud,
.status-answered {
  color: #000000;
}
.status-expired,
.status-transferred.away{
  color: #004258;
}
.status-cancelled {
  color: #9FA29A;
}
.status-terminated {
  color: #666;
}
.status-onhold {
  color: #224488;
}
.status-inprogress {
  color: #cc0000;
}
.status-closed {
  color: #888;
}

.status-paid {
  color: #498302;
}
.status-unpaid {
  color: #ED3E48;
}
.status-cancelled {
  color: #87939F;
}
.status-collections {
  color: #9A141E;
}
.status-refunded {
  color: #319FC3;
}

.status-customer-reply {
  color: #ff6600;
}

.status-delivered {
  color: #224488;
}

.status-accepted {
  color: #498302;
}
.status-lost, .status-dead {
  color: #000;
}
