/**
 * -------------------------
 * @section Navigational Bar
 * -------------------------
 */

ul.top-nav {
  float: right;
  margin-top: 8px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  white-space: nowrap;
}
ul.top-nav > li,
ul.top-nav > li > a {
  display: inline-block;
  position: relative;
}
ul.top-nav > li > a {
  padding: 6px 10px;
  color: #777;
  line-height: 20px;
  text-decoration: none;
}
ul.top-nav > li:active > a,
ul.top-nav > li:focus > a,
ul.top-nav > li:hover > a,
ul.top-nav > li > a:focus {
  color: #333;
  text-decoration: none;
  background: transparent;
}
ul.top-nav > li.primary-action {
  padding-left: 15px;
  margin-left: 5px;
  border-left: solid 1px #ddd;
}
ul.top-nav > li.primary-action > a.btn {
  padding: 6px 15px;
  background-color: #0e5077;
  color: #fff;
  border-radius: 3px;
}
ul.top-nav > li > a.btn-logged-in-admin {
  margin-left: 5px;
  font-size: 1.5em;
}
ul.top-nav .tooltip-inner {
  margin-left: -200px;
  min-width: 250px;
  width: 250px;
}

@media (max-width: 991px) {
  ul.top-nav {
    font-size: 0.9em;
  }
  ul.top-nav > li.primary-action > a.btn {
    padding: 4px 12px;
    font-size: 1em;
  }
  ul.top-nav > li > a.btn-logged-in-admin {
    margin-top: -2px;
  }
}

@media (max-width: 767px) {
  ul.top-nav {
    margin: 0;
    font-size: 0.8em;
  }
  ul.top-nav > li > a {
    padding: 6px;
  }
  ul.top-nav > li.primary-action > a.btn {
    padding: 3px 12px;
    font-size: 1em;
  }
}
