// Font properties
	$font-primary: "Poppins",serif;
	$font-family: 'Nunito Sans', sans-serif;
// color
	$color-primary: #4208bc; //#30228d; 
	$color-secondary: #7141f9;//:#0577ff; 
	$color-white: #FFF; 
	$color-gray: #f4f5fa; 
	$color-dark-gray: #939393;  //font color in black bg
	$color-font:  #7e7e7e;  //font color
	$color-black: #222222; 