.bg-gradient {
  //background: linear-gradient(to right, map-get($theme-colors, 'primary') 0, map-get($theme-colors, 'secondary') 51%, #4208bc 100%);
  background-image: linear-gradient(134deg, #02072F 0%, #091361 100%);
  background-size: 200% auto !important;
  color: $white;
}

.lead {
  font-weight: 600;
  padding: 20px 5px;
}

.text-white {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

/* color */
.color-main{ color:map-get($theme-colors, 'primary'); }
.bg-color-main{ background:map-get($theme-colors, 'primary'); }
.border-color-main{ border-color: map-get($theme-colors, 'primary') !important; }
.color-secondary{ color: map-get($theme-colors, 'secondary'); }
.bg-color-secondary{ background: map-get($theme-colors, 'secondary'); }
.border-color-secondary{ border-color: map-get($theme-colors, 'secondary') !important; }
.color-gradient{
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background: -webkit-linear-gradient(left,map-get($theme-colors, 'primary') 0%, map-get($theme-colors, 'secondary') 100%);
  background: linear-gradient(to right,map-get($theme-colors, 'primary') 0%, map-get($theme-colors, 'secondary') 100%);
}
.bg-gradient{
  background: linear-gradient(to right,map-get($theme-colors, 'primary') 0,map-get($theme-colors, 'secondary') 51%,map-get($theme-colors, 'primary') 100%);
  background-size: 200% auto !important;
  @include single-transition(all, 0.4s , ease-in-out);
}
.txt-fill-main{ -webkit-text-fill-color:map-get($theme-colors, 'primary'); }

.bg-grey{ background-color: $gray-400; }
.bg-dark{ background:$black;}
.bg-dark , .text-white {
  color: #fff;
  h1 , h2 , h3 , h4 , h5 , h6  { color: #fff;}
}
.box-shadow{
  -webkit-box-shadow:0 50px 100px rgba(0,0,0,0.1);
  -moz-box-shadow:0 50px 100px rgba(0,0,0,0.1);
  box-shadow:0 50px 100px rgba(0,0,0,0.1);
}
.border-radius{ @include border-radius(6px);}
.txt-boxed{
  max-width: 580px;
}
.scale-over{
  @include single-transition(all, 800ms , linear);
  &:hover {
    z-index: 4;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}
/* list */
ul li, ol li {
  padding:0;
  margin:0;
}

::selection {
  background: map-get($theme-colors, 'primary');
  color: #fff;
  text-shadow: none;
}
