* {
  font-family: $font-primary;
}

body {
  font-family: $font-primary;
  color: $color-font;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 25px;
  word-break: break-word;
  overflow-x:hidden!important;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color:$color-black;
  font-weight: 600;
  padding:0;
  letter-spacing:0;
  margin: 0 0 15px;
  line-height: 1.1;
  word-break: break-word;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.bg-gradient {
  //background: linear-gradient(to right, $color-primary 0, $color-secondary 51%, #4208bc 100%);
  background-image: linear-gradient(134deg, #02072F 0%, #091361 100%);
  background-size: 200% auto !important;
  color: $color-white;
}

.lead {
  font-weight: 600;
  padding: 20px 5px;
}

.text-white {
  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
  }
}

/* color */
.color-main{ color:$color-primary; }
.bg-color-main{ background:$color-primary; }
.border-color-main{ border-color: $color-primary !important; }
.color-secondary{ color: $color-secondary; }
.bg-color-secondary{ background: $color-secondary; }
.border-color-secondary{ border-color: $color-secondary !important; }
.color-gradient{
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background: -webkit-linear-gradient(left,$color-primary 0%, $color-secondary 100%);
  background: linear-gradient(to right,$color-primary 0%, $color-secondary 100%);
}
.bg-gradient{
  background: linear-gradient(to right,$color-primary 0,$color-secondary 51%,$color-primary 100%);
  background-size: 200% auto !important;
  @include single-transition(all, 0.4s , ease-in-out);
}
.txt-fill-main{ -webkit-text-fill-color:$color-primary; }

.bg-grey{ background-color:$color-gray; }
.bg-dark{ background:$color-black;}
.bg-dark , .text-white {
  color: #fff;
  h1 , h2 , h3 , h4 , h5 , h6  { color: #fff;}
}
.box-shadow{
  -webkit-box-shadow:0 50px 100px rgba(0,0,0,0.1);
  -moz-box-shadow:0 50px 100px rgba(0,0,0,0.1);
  box-shadow:0 50px 100px rgba(0,0,0,0.1);
}
.border-radius{ @include border-radius(6px);}
.txt-boxed{
  max-width: 580px;
}
.scale-over{
  @include single-transition(all, 800ms , linear);
  &:hover {
    z-index: 4;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}
/* list */
ul li, ol li {
  padding:0;
  margin:0;
}

::selection {
  background: $color-primary;
  color: #fff;
  text-shadow: none;
}
