/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
        primary: #0073F7,
        secondary: #091361,
        danger: #EC003B,
        warning: #FFDD00,
) !default;

$banner-vertical-gutter: 20px !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none !default;
$navbar-light-toggler-icon-bg: none !default;

$enable-rounded : true !default;
$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
