/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #4208bc,
  secondary: #5514DA,
  danger: #EC003B,
  warning: #FFDD00,
) !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none !default;
$navbar-light-toggler-icon-bg: none !default;

// Font properties
$font-primary: "Poppins",serif !default;
$font-family: 'Nunito Sans', sans-serif !default;

// color
$color-primary: #4208bc !default; //#30228d;
$color-secondary: #7141f9 !default;//:#0577ff;
$color-white: #FFF !default;
$color-gray: #f4f5fa !default;
$color-dark-gray: #939393 !default;  //font color in black bg
$color-font:  #7e7e7e !default;  //font color
$color-black: #222222 !default;

$banner-vertical-gutter: 20px !default;

$enable-rounded : true !default;
$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
