.admin-bar {
  .banner.sticky-top {
    top: 32px;
  }
}

.app-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.chujBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;

  background: var(--gray-dark);
  color: var(--white);

  z-index: 9998;

  display: flex;
  align-items: center;

  .container {
    display: flex;

    .social {
      justify-content: flex-end;
      margin-left: auto;

      i {
        margin: 0 5px;
      }
    }
  }
}

.banner {
  position: fixed;
  top: 35px;
  width: 100%;

  height: 80px;
  background: map-get($colors, 'primary');

  display: flex;
  align-items: center;

  //@include box-shadow(0 1px 4px rgba(0,0,0,0.3));

  .navbar {
    width: 100%;

    .navbar-collapse {
      &:not(.show.in) {
        ul.nav {
          justify-content: flex-end;
          flex: 1 1 auto;
          align-items: center;
        }
      }

      ul.nav {
        > li {
          @extend .nav-item;

          transition: all 0.4s linear;
          display: inline-block;
          list-style: none;

          > a {
            color: rgba(0, 0, 0, 0.5) !important;
            font-weight: 600;
            font-size: 1rem;

            @extend .nav-link;

            &.avatar {
              img {
                max-width: 24px;
                border-radius: 50%;
              }
            }

            .counter {
              position: absolute;
              right: 0;
              top: -5px;
            }

            &.cta {
              min-width: 100px;
              padding: 0.5rem 0.5rem !important;
              margin: 0 0.2rem;

              &.btn-primary {
                color: var(--white) !important;
              }
            }
          }
        }
      }

      &.show.in, &.collapsing {
        position: absolute;
        width: 100%;
        top: 75px;
        left: 0;
        background: var(--white);
      }

      ul.navbar-secondary {
        justify-content: space-around;
        /* flex-direction: column; */
        padding: 1rem 0;
      }
    }


    ul.navbar-primary {
      flex-shrink: 0 !important;
    }

    ul.navbar-secondary {
      flex-shrink: 0 !important;

      li {
        &.shopping-cart {
          position: relative;
        }

        a {
          padding: 0.2rem !important;
        }
      }
    }

    ul.navbar-nav:first-of-type {
      > li:last-child {
        background: var(--primary);
        border-radius: 3px;

        a {
          color: var(--white) !important;
        }
      }
    }
  }

  ul.dropdown-menu {
    &__client-alerts {
      min-width: 350px !important;

      li {
        padding: 1rem 1rem;

        &.warning {
          background: scale_color($warning, $lightness: +70%);

          a > i {
            color: $warning;
          }
        }

        &.info {
          background: scale_color($primary, $lightness: +85%);

          a > i {
            color: $primary;
          }
        }

        a {
          display: flex;
          align-items: center;
          color: var(--gray-dark);
          i {
            margin-right: 0.5rem;
          }
        }
      }
    }

    > li {
      @extend .nav-item;

      &.nav-divider {
        @extend .dropdown-divider
      }

      > a {
        @extend .nav-link;
      }
    }

    &.language-chooser {
      max-height: 350px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
        background: #eee;
      }

      &::-webkit-scrollbar-thumb {
        width: 10px;
        background: var(--gray);
      }
    }
  }

  &--full {
    background: map-get($colors, 'white');
    border-bottom: solid 1px var(--light);

    .logo-color {
      display: block !important;
    }
  }

  transition: 0.5s ease-in;

  .logo {
    transition: all 0.4s ease-in-out;
    display: table;
    float: left;
    position: relative;
    z-index: 110;
    margin-top: 5px;

    img {
      height: 40px;
    }
  }

  .logo-color {
    display: none;
  }

  .logo-white {
    display: block;
  }

  &__small {
    height: 60px;
    background: $white;

    .logo-color, .logo-white {
      margin-top: 5px;
    }

    .logo-color {
      display: block;
    }

    .logo-white {
      display: none;
    }
  }
}
